@media only screen and (max-width: 1024px) {
  .wrapper {
    width: 100%;
  }
  .intro,
  .brand,
  .support {
    width: 95%;
  }
  .navigation {
    gap: 10px;
  }
  .box1,
  .box2,
  .box3,
  .support {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  .resource {
    padding: 10px;
  }
  .boxes {
    gap: 10px;
  }
  .header {
    font-size: 40px;
  }
  .head {
    font-size: 30px;
  }
  .nav {
    padding: 30px 0;
  }
  .logos {
    width: 100%;
    padding: 5px;
  }
  .resource {
    display: flex;
  }
  .digital,
  .resources,
  .company,
  .social {
    width: 25%;
  }
}

@media only screen and (max-width: 480px) {
  .wrapper {
    width: 100%;
  }
  .navigation {
    display: none;
  }
  .nav {
    padding: 30px 0;
  }
  .intro,
  .brand,
  .head__title,
  .support {
    width: 95%;
  }
  .box1,
  .box2,
  .box3,
  .support {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  .resource {
    padding: 10px;
  }
  .block,
  .boxes {
    margin: 10px 0;
  }
  .header {
    font-size: 40px;
  }
  .head {
    font-size: 30px;
  }
  .button {
    font-size: 14px;
  }
  .logos img {
    width: 25%;
    height: 100%;
  }
  .hamburger,
  .main,
  .program,
  .branding,
  .boxes,
  .block,
  .resource {
    display: block;
  }
}
